
body{
    margin: 6px auto;
    padding: 8px;
    
    align-content: center;
    background-color: rgb(8, 8, 8);
    
    
}
    .class1{
    margin: 6px auto;
    padding: 8px;
    
    align-content: center;
    background-color: rgb(9, 2, 2);

}

.english{
    background-color: rgb(191, 181, 127);
    
    color: rgb(35, 1, 47);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid grey;
    
    border-radius: 8px;
    font-weight: bold;
    width: 63%;
    margin: auto;
    

}
#sub{
    font-family: cursive;
    background-color: rgb(114, 49, 124);
    color: white;
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}
ul{
    list-style-type: square;
}
ol li{
    color: rgb(4, 4, 52);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-decoration: underline;
}
#marathi{
    font-family: cursive;
    background-color: rgb(114, 49, 124);
    color: white;
    height: 40px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: auto;

}
#title{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    height:50px ;
    width: 500px;
    background-color: rgb(3, 51, 59);
    color:white;
    text-align: center;
    margin: auto;
}


   