body{
    margin: 6px auto;
    padding: 8px;
    
    align-content: center;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzqAYzlFqWA19jCs4QgPWYjenB8R7So6joHw&usqp=CAU);
}
h1{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    height:50px ;
    width: 1500px;
    background-color: rgb(39, 2, 2);
    color: rgb(249, 243, 251);
    text-align: center;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    
   
    
}
nav li{
    background-color: rgb(192, 236, 121);

}
nav a{
    text-decoration: none;
    color: rgb(2, 0, 6);
    font-weight: bold;
    font-size: 15px;
}
nav ul li{
    
    text-transform: capitalize;
    width: 90%;
    text-align: center;
    line-height: 50px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 3px solid black;
   
}
nav a:hover{
    font-style: italic;
    color: white;
}
nav li:hover{
    background-color: rgb(19, 58, 4);
    color: white;
}
#title{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    height:50px ;
    width: 500px;
    background-color: rgb(3, 51, 59);
    color:white;
    text-align: center;
    margin: auto;
}
.class1{
    margin: 6px auto;
    padding: 8px;
    
    align-content: center;
    background-color: rgb(9, 2, 2);

}

.english{
    background-color: rgb(191, 181, 127);
    color: rgb(35, 1, 47);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid grey;
    
    border-radius: 8px;
    font-weight: bold;
    width: 63%;
    

}
#sub{
    font-family: cursive;
    background-color: rgb(114, 49, 124);
    color: white;
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}
ul{
    list-style-type: square;
}
ol li{
    color: rgb(4, 4, 52);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-decoration: underline;
}
#marathi{
    font-family: cursive;
    background-color: rgb(114, 49, 124);
    color: white;
    height: 40px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: auto;

}
