body{
    margin: 6px auto;
    padding: 8px;
    
    align-content: center;
    background-color: rgb(251, 214, 184);
    
}
table,th,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
    background-color: rgb(236, 247, 183);
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}
table{
    height: 65px;
    margin: auto;
    
}
h1{
    height: 38px;
    font-size: 34px;
    color: rgb(7, 3, 51);
    font-weight: bold;
    font-family:cursive;
    border: 3px solid grey;
    border-radius:8px;
    text-align: center;
    background-color: rgb(228, 234, 235);
    padding: 8px;

}
h2{
    font-size:30px;
    color: rgb(54, 7, 7);
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}
div{
    background-color: rgb(158, 122, 150);
    border-radius: 8px;
    text-align: center;
}

.trans{
    position: relative;
    height: 40px;
    font-family: cursive;
    font-size: 26px;
    animation: title 15s linear infinite;
    margin: 0;
}
@keyframes title { 
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
